{% extends 'base.html.twig' %}

{% block body %}

<div class="container mx-auto px-4 py-8">
	<header class="text-center mb-12">
		<h1 class="text-5xl font-bold text-gray-800 mb-4">
			Weather Forecast System
		</h1>
		<div class="w-24 h-1 bg-blue-500 mx-auto"></div>
	</header>

	<main class="max-w-4xl mx-auto">
		<div class="bg-white rounded-xl shadow-xl p-8 space-y-6">
			<p class="text-gray-700 leading-relaxed text-lg">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id ultrices tortor. Curabitur arcu dolor, sollicitudin et hendrerit vel, vehicula non ligula. Aliquam euismod ultricies odio, eget ultricies lectus consequat vel. Etiam sagittis neque dictum molestie lobortis. Aliquam sit amet vehicula diam, non laoreet dolor. Etiam ut diam nec neque tincidunt feugiat. Nam at lacus nec leo lobortis imperdiet vel id mauris. Proin et lectus leo. Aenean sit amet magna auctor, venenatis risus sit amet, ornare tellus. Suspendisse sit amet porttitor dui. Duis vestibulum a enim nec lacinia. Mauris non purus dui. Phasellus in pellentesque ipsum, in scelerisque risus. Vestibulum a diam id enim porta gravida. Sed fringilla id urna sed cursus.
			</p>
			
			<div class="border-l-4 border-blue-500 pl-6 py-2 bg-blue-50">
				<p class="text-gray-700 leading-relaxed text-lg">
					Sed varius tristique dui vitae vestibulum. Proin scelerisque hendrerit pharetra. In sit amet augue libero. In sit amet efficitur erat, quis cursus diam. Curabitur sit amet nisi feugiat, cursus orci id, posuere ipsum. Aenean imperdiet condimentum vehicula. Praesent finibus maximus blandit. Morbi eleifend ut purus eleifend finibus. Curabitur pretium vulputate aliquet. Pellentesque dictum, urna in maximus vehicula, diam eros laoreet tellus, quis consequat tellus turpis non tellus.
				</p>
			</div>
			
			<p class="text-gray-700 leading-relaxed text-lg">
				Proin magna lectus, commodo et posuere non, imperdiet ac nisl. Integer ut nisi nisl. Integer diam augue, laoreet vitae sem sed, dignissim sodales velit. Integer ac venenatis nibh. Nunc felis dui, egestas a commodo vitae, varius id odio. Praesent faucibus ac nulla in ornare. Donec id erat metus. Donec dignissim arcu risus, congue commodo ante porttitor vel.
			</p>
			
			<div class="bg-gray-50 rounded-lg p-6">
				<p class="text-gray-700 leading-relaxed text-lg">
					Fusce porta consequat magna, eu congue nisi cursus at. Vivamus ac ante pharetra, euismod magna eget, porttitor mauris. Phasellus id eros quis velit tincidunt mollis. Nam et lacus a justo auctor tincidunt ut a nulla. Proin volutpat sodales urna. Nunc vel urna et ex maximus cursus. Fusce leo erat, tincidunt sed eleifend sed, efficitur in ligula. Nulla lacinia mi a lorem porttitor eleifend. Duis ex risus, interdum non odio sed, imperdiet interdum erat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
				</p>
			</div>
			
			<p class="text-gray-700 leading-relaxed text-lg font-medium">
				Mauris interdum arcu at scelerisque vulputate. Sed hendrerit pulvinar enim quis ultrices. Aliquam dignissim nulla sit amet velit consectetur sodales. Etiam viverra ut augue vitae vestibulum. Mauris ut quam eu odio dictum posuere ut ut massa. Nullam auctor massa arcu. Nulla facilisi. Vestibulum maximus gravida eros et condimentum. Suspendisse potenti. Morbi eget sagittis elit. Aliquam hendrerit elementum sagittis.
			</p>
		</div>
	</main>
</div>
{% endblock %}

{% block title %}Welcome to the Weather Forecast System!
{% endblock %}
