{% extends 'base.html.twig' %}

{% block body %}

	<h1 style="font-size: 4em;">
		{{country_code}}: {{city_name}}
	</h1>

{% endblock %}

{% block title %} Country by code and city name
{% endblock %}
